:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 0;
}

input {
  font-family: inherit;
}

/*COMPONENTS*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #f4f4fd;
}

/*CONTAINERS AND SECTIONS*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}

/*HEADER*/

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list,
.header-address {
  display: none;
}

.header .logo {
  padding: 16px 0;
  display: block;
}

.header .logo-accent {
  color: var(--navy-blue);
}

.burger-button {
  background: transparent;
  border: none;
}

.burger-button-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-nav-menu {
    display: flex;
    align-items: center;
  }

  .header .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:focus,
  .header-nav-link:active {
    color: var(--ocean);
  }

  .header-nav-link.current {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link.current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--ocean);
  }

  .header-address {
    display: block;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:focus,
  .header-address-link:active {
    color: var(--ocean);
  }

  .burger-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }

  .header-nav-link:hover {
    color: var(--ocean);
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-address-link:hover {
    color: var(--ocean);
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
  }
}

/*MOBILE MENU*/

.mobile-menu {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*HERO*/

.hero {
  background-color: var(--navy-blue);
  padding: 72px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url('../images/1x/people-office-1x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url('../images/2x/people-office-2x.jpg');
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 72px;
  max-width: 216px;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:active {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .hero-button:hover {
    background-color: var(--ocean);
  }
}

/*FEATURES*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-list-item {
  width: 100%;
}

.features-list-icon {
  display: none;
}

.features-list-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-list-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .features-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-list-icon {
    display: block;
  }

  .features-list-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
  }

  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list-text {
    font-weight: 400;
  }
}

/*TEAM*/

.team {
  background-color: var(--cloud);
}

.team .container {
  padding: 0 28px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-wrap {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team .socials-list {
  gap: 24px;
}

.team .socials-link:focus,
.team .socials-link:active {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team .container {
    padding: 0 108px;
  }

  .team-list {
    gap: 72px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team .container {
    padding: 0 15px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .team .socials-link:hover {
    background-color: var(--ocean);
  }
}

/*PORTFOLIO*/

.product-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.product-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.product-card-wrap {
  position: relative;
  overflow: hidden;
}

.product-card-text {
  display: none;
}

.product-list-wrap {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.product-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.product-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .product-list {
    gap: 72px 24px;
  }

  .product-list-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .product-list {
    gap: 48px 24px;
  }

  .product-list-item {
    width: calc((100% - 2 * 24px) / 3);
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .product-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .product-card-text {
    display: flex;
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    background-color: var(--iris);
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .product-list-item:hover .product-card-text {
    transform: translateY(0);
  }
}

/*FOOTER*/

.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer .logo {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.footer .logo-accent {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-socials-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.footer .socials-list {
  gap: 16px;
}

.footer .socials-link:focus,
.footer .socials-link:active {
  background-color: #31d0aa;
}

.footer-subscribe-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  width: 288px;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:focus,
.footer-subscribe-button:active {
  background-color: var(--green);
}

.subscribe-button-icon {
  margin-left: 16px;
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding: 0 108px;
    justify-content: start;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer .logo {
    justify-content: flex-start;
  }

  .footer-socials-title {
    text-align: left;
  }

  .footer-subscribe-text {
    max-width: 264px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-subscribe-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-text-wrap {
    width: 264px;
    margin-right: 120px;
  }

  .footer .socials-link:hover {
    background-color: #31d0aa;
  }

  .footer-subscribe-wrap {
    margin-left: 80px;
  }

  .footer-subscribe-input {
    width: 264px;
    border: 1px solid var(--white);
  }

  .footer-subscribe-input::placeholder {
    color: var(--white);
  }

  .footer-subscribe-button:hover {
    background-color: var(--green);
  }
}

/*MODAL*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 16px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus,
.modal-close-button:active {
  background-color: var(--ocean);
  border: none;
}

.modal-close-button-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus .modal-close-button-icon,
.modal-close-button:active .modal-close-button-icon {
  fill: var(--white);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  font-size: 12px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  fill: var(--navy-blue);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field {
  margin-bottom: 16px;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  border: 1px solid var(--navy-blue-modal);
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-accept-wrap {
  margin-bottom: 24px;
}

.modal-accept-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modal-accept-checker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-accept-input:checked + .modal-accept-label .modal-accept-checker {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-accept-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-private-policy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-private-policy:focus,
.modal-private-policy:active {
  color: var(--ocean);
}

.modal-submit-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:focus,
.modal-submit-button:active {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }

  .modal-accept-text {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-close-button:hover {
    background-color: var(--ocean);
    border: none;
  }

  .modal-close-button:hover .modal-close-button-icon {
    fill: var(--white);
  }

  .modal-input:focus {
    border-color: var(--iris);
  }

  .modal-input:focus + .modal-input-icon {
    fill: var(--iris);
  }

  .modal-comment:focus {
    border-color: var(--iris);
  }

  .modal-private-policy:hover {
    color: var(--ocean);
  }

  .modal-submit-button:hover {
    background-color: var(--ocean);
  }
}
